.appContainer {
  display: flex;
  flex-direction: column;
}

.btn-container {
  float: right;
  text-align: center;
  margin: 10px;
  background-color: #2b2b30;
}

.btn-container .login {
  margin: 15px;
  background-color: #2b2b30;
}

.btn-container .about {
  margin: 15px;
  background-color: #2b2b30;
}

.btn-container .home {
  margin: 15px;
  background-color: #2b2b30;
}